@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core Identity with MySQL Database</h1>
    <p>Everything setup. Start Developing your ideas</p>
</div>
